@font-face {
    font-family: Zaobljen;
    src: url(fontovi/good\ timing\ bd.otf);
}

@font-face {
    font-family: Sport;
    src: url(fontovi/Race\ Sport.ttf);
}

@font-face {
    font-family: Crtani;
    src: url(fontovi/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: Tackasti;
    src: url(fontovi/Diskoteque.ttf);
}